
/* 
    font-family: 'Boogaloo', cursive;

    font-family: 'Sintony', sans-serif;
 */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sintony', sans-serif;
}

.wrapper {
    background-color: #f9f7f7;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.container {
    margin: 50px;
    width: 700px;
    min-height: 600px;
    background-color: #dbe2ef;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 2px 1px grey;
}
.toDoBody {
    max-width: 700px;
}
.toDoLabel   {
    display:    flex;
    width: 100vw;
  align-items: center;
    justify-content: center;
}
.shadow {
    position: relative;
    text-transform: uppercase;
    text-shadow: -15px 5px 20px #ced0d3;
    color: white;
    letter-spacing: -0.25em;
    font-family: 'Anton', Arial, sans-serif;
    user-select: none;
    text-transform: uppercase;
    padding: 50px 0;
}  
button {
    text-transform: uppercase;
}
.shadows:hover {
    text-shadow: -16px 6px 15px #ced0d3;
}

.toDoLabel span {
    font-family: 'Boogaloo', cursive;
    font-size: 5rem;
    margin: auto;
    padding-bottom: 20px;
}
input {
    padding: 10px 20px;
    border-radius: 5px;
    border: 3px solid #112d4e;
    width: 100%;
    margin: 10px 50px;
}

.editInput {
    display: none;
}
.edit_me {
    display: none;
}
.add {
    margin: 20px 0px;
    padding: 10px 10px;
    background-color: #3f72af;
    border: none;
    border-radius: 8px;
    width: 80%;
    color: white;
    
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    max-width: 500px;
    min-width: 500px;
    margin: auto;
}
h3 {
    color: #112d4e;
    padding: 20px 0px;
    width: 80%;
    margin: auto;
    color: #112d4e;

}
ul >li > .delate  {
    float: right;
    background-color: #3f72af;
    border: none;
    padding: 7px 14px;
    color: white;
}

ul >li > .edit {
    background-color: #ced0d3;
    float: right;
    border: none;
    margin-left: 2px;
    padding: 7px 10px;
}
ul {
    padding: 5px 10px;
    color: #112d4e;
    list-style-type: none;
    max-width: 100%;
    margin: auto;
}

ul> li {
    margin-bottom: 30px;
    margin-right: 40px;
    margin-left: 40px;
    position: relative;
    max-width: 600px;
    min-width: 600px;
    text-align: justify;
    background-color: #fff;
    padding: 14px 14px 45px 14px;
    color: #555;
}

.edit {
    position: absolute;
    right: 80px;
    bottom: -10px;
    font-size: 0.7rem;
}
.delate {
    position: absolute;
    right: 17px;
    bottom: -10px;
    font-size: 0.8rem;
}


