* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffbd69;
    font-size: 0.9rem;
    font-family: 'Roboto Condensed', sans-serif;
    
}

.wrapper {
    z-index: -30;
    background-color: #111d5e;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    z-index:0;
    background-color: #b21f66;
    width: 350px;
    height: 450px;
    position: relative;
    border: 2px solid #ffbd69;

}


.toDoLabel {
    padding: 2px 15px;
    position: absolute;
    top: -26px;
    left: 25px;
    background-color: #b21f66;
    z-index: -1;
    font-size: 1.5rem;
    border: 2px solid #ffbd69;
}
.toDoLayer {
    z-index: 1;
    background-color: #b21f66;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ulElements {
    min-height: 200px;
    width: 100%;
    z-index: 3;
    background-color: #b21f66;
    
}

form {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr 1fr;
    width: 320px;
    padding-top: 20px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: 
    "searchElement searchElement searchElement"
    "addElement addElement addButton"
    "counterElements counterElements counterElements";
}
input,button{
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid white;
    background-color:  rgba(0,0,0,0.1);
    font-size: 0.7rem;

}
button {
 background-color: #111d5e;
 border: none;
 font-size: 0.7rem;
}

.search{
    grid-area: searchElement;
  }
  .typeElement {
    grid-area: addElement;
  }
  .addElement {
    grid-area: addButton;
  }
  h3{
    grid-area: counterElements;
    margin-top: 10px;
  }
  

  textarea:focus, input:focus{
    outline: none;
}